.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 16px;
}

.slot {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    gap: 1em;
    border: 1px solid black;
}

.avatar {
    width: 14px;
    height: 14px;
}

.usernameContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.username {
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
}

.time {
    font-weight: 600;
    white-space: nowrap;
    font-size: 12px;
}

.timeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.username {
    flex: 1;
    text-align: center;
}

.bandIcon {
    font-size: 27px;
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
}


.bandName {
    font-style: italic;
    text-align: right;
    font-size: 18px;
}