.timeSlotContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
}

.timeSlot {
    outline: none!important;
    border: 1px solid rgb(218, 215, 215)!important;
    background-color: white;
    color: black;
    display: inline-flex;
    justify-content: center;
    width: 30%;
    box-shadow: 1px 1px 1px rgb(218, 215, 215);
}

.selected {
    background-color: rgb(85, 193, 85);
}

.cancelSelected {
    background-color: yellow!important;
}

.booked {
    border-color: red!important;
}
