.timeSlotContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.timeSlot {
    outline: none!important;
    border: 1px solid black!important;
    background-color: white;
    color: black;
    display: inline-flex;
    justify-content: center;
    width: 30%;
}

.selected {
    background-color: rgb(85, 193, 85);
}

.cancelSelected {
    background-color: yellow!important;
}

.booked {
    border-color: red!important;
}
